/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.5;
  color: #6C757D;
}

body {
  font-family: -apple-system, BlinkMacSystemFont,'Noto Sans TC', Arial, sans-serif;
  color: #707070;
}

.fs-1 {
  font-size: 14px;
}

.fs-2 {
  font-size: 16px;
}

.fs-3 {
  font-size: 20px;
}

.fs-4 {
  font-size: 24px;
}

.fs-5 {
  font-size: 28px;
}

.fs-6 {
  font-size: 36px;
}

.fs-7 {
  font-size: 48px;
}

@media (max-width: 767px) {
  .fs-sm-1 {
    font-size: 14px;
  }
  .fs-sm-2 {
    font-size: 16px;
  }
  .fs-sm-3 {
    font-size: 20px;
  }
  .fs-sm-4 {
    font-size: 24px;
  }
  .fs-sm-5 {
    font-size: 28px;
  }
  .fs-sm-6 {
    font-size: 36px;
  }
  .fs-sm-7 {
    font-size: 48px;
  }
}

.lh-1 {
  line-height: 1;
}

.lh-2 {
  line-height: 1.5;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-primary {
  color: #C0A4A5;
}

.font-secondary {
  color: #907A7B;
}

.font-danger {
  color: #DC3545;
}

.font-info {
  color: #6C757D;
}

.font-light {
  color: #F5F0E7;
}

.font-dark {
  color: #707070;
}

.font-white {
  color: #fff;
}

.text-top {
  text-align: top;
}

.text-right {
  text-align: right;
}

.text-bottom {
  text-align: bottom;
}

.text-left {
  text-align: left;
}

.font-Lato {
  font-family: "Lato";
}

.font-Merriweather {
  font-family: "Merriweather";
}

.font-italic {
  font-style: italic;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block;
}

.d-line-block {
  display: inline-block;
}

@media (max-width: 767px) {
  .d-sm-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.col-1 {
  width: 90px;
}

.col-2 {
  width: 180px;
}

.col-3 {
  width: 270px;
}

.col-4 {
  width: 360px;
}

.col-5 {
  width: 450px;
}

.col-6 {
  width: 540px;
}

.col-7 {
  width: 630px;
}

.col-8 {
  width: 720px;
}

.col-9 {
  width: 810px;
}

.col-10 {
  width: 900px;
}

.col-11 {
  width: 990px;
}

.col-12 {
  width: 1080px;
}

@media (max-width: 767px) {
  .col-sm-1 {
    width: 90px;
  }
  .col-sm-2 {
    width: 180px;
  }
  .col-sm-3 {
    width: 270px;
  }
  .col-sm-4 {
    width: 360px;
  }
  .col-sm-5 {
    width: 450px;
  }
  .col-sm-6 {
    width: 540px;
  }
  .col-sm-7 {
    width: 630px;
  }
  .col-sm-8 {
    width: 720px;
  }
  .col-sm-9 {
    width: 810px;
  }
  .col-sm-10 {
    width: 900px;
  }
  .col-sm-11 {
    width: 990px;
  }
  .col-sm-12 {
    width: 1080px;
  }
}

.container {
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-none {
  margin: 0px;
}

.m-1 {
  margin: 4px;
}

.m-2 {
  margin: 8px;
}

.m-3 {
  margin: 16px;
}

.m-4 {
  margin: 20px;
}

.m-5 {
  margin: 24px;
}

.m-6 {
  margin: 30px;
}

.m-7 {
  margin: 32px;
}

.m-8 {
  margin: 40px;
}

.mt-none {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 16px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 24px;
}

.mt-6 {
  margin-top: 30px;
}

.mt-7 {
  margin-top: 32px;
}

.mt-8 {
  margin-top: 40px;
}

.me-none {
  margin-right: 0px;
}

.me-1 {
  margin-right: 4px;
}

.me-2 {
  margin-right: 8px;
}

.me-3 {
  margin-right: 16px;
}

.me-4 {
  margin-right: 20px;
}

.me-5 {
  margin-right: 24px;
}

.me-6 {
  margin-right: 30px;
}

.me-7 {
  margin-right: 32px;
}

.me-8 {
  margin-right: 40px;
}

.mb-none {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 24px;
}

.mb-6 {
  margin-bottom: 30px;
}

.mb-7 {
  margin-bottom: 32px;
}

.mb-8 {
  margin-bottom: 40px;
}

.ms-none {
  margin-left: 0px;
}

.ms-1 {
  margin-left: 4px;
}

.ms-2 {
  margin-left: 8px;
}

.ms-3 {
  margin-left: 16px;
}

.ms-4 {
  margin-left: 20px;
}

.ms-5 {
  margin-left: 24px;
}

.ms-6 {
  margin-left: 30px;
}

.ms-7 {
  margin-left: 32px;
}

.ms-8 {
  margin-left: 40px;
}

@media (max-width: 992px) {
  .mt-md-none {
    margin-top: 0px;
  }
  .mt-md-1 {
    margin-top: 4px;
  }
  .mt-md-2 {
    margin-top: 8px;
  }
  .mt-md-3 {
    margin-top: 16px;
  }
  .mt-md-4 {
    margin-top: 20px;
  }
  .mt-md-5 {
    margin-top: 24px;
  }
  .mt-md-6 {
    margin-top: 30px;
  }
  .mt-md-7 {
    margin-top: 32px;
  }
  .mt-md-8 {
    margin-top: 40px;
  }
  .me-md-none {
    margin-right: 0px;
  }
  .me-md-1 {
    margin-right: 4px;
  }
  .me-md-2 {
    margin-right: 8px;
  }
  .me-md-3 {
    margin-right: 16px;
  }
  .me-md-4 {
    margin-right: 20px;
  }
  .me-md-5 {
    margin-right: 24px;
  }
  .me-md-6 {
    margin-right: 30px;
  }
  .me-md-7 {
    margin-right: 32px;
  }
  .me-md-8 {
    margin-right: 40px;
  }
  .mb-md-none {
    margin-bottom: 0px;
  }
  .mb-md-1 {
    margin-bottom: 4px;
  }
  .mb-md-2 {
    margin-bottom: 8px;
  }
  .mb-md-3 {
    margin-bottom: 16px;
  }
  .mb-md-4 {
    margin-bottom: 20px;
  }
  .mb-md-5 {
    margin-bottom: 24px;
  }
  .mb-md-6 {
    margin-bottom: 30px;
  }
  .mb-md-7 {
    margin-bottom: 32px;
  }
  .mb-md-8 {
    margin-bottom: 40px;
  }
  .ms-md-none {
    margin-left: 0px;
  }
  .ms-md-1 {
    margin-left: 4px;
  }
  .ms-md-2 {
    margin-left: 8px;
  }
  .ms-md-3 {
    margin-left: 16px;
  }
  .ms-md-4 {
    margin-left: 20px;
  }
  .ms-md-5 {
    margin-left: 24px;
  }
  .ms-md-6 {
    margin-left: 30px;
  }
  .ms-md-7 {
    margin-left: 32px;
  }
  .ms-md-8 {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .mt-sm-none {
    margin-top: 0px;
  }
  .mt-sm-1 {
    margin-top: 4px;
  }
  .mt-sm-2 {
    margin-top: 8px;
  }
  .mt-sm-3 {
    margin-top: 16px;
  }
  .mt-sm-4 {
    margin-top: 20px;
  }
  .mt-sm-5 {
    margin-top: 24px;
  }
  .mt-sm-6 {
    margin-top: 30px;
  }
  .mt-sm-7 {
    margin-top: 32px;
  }
  .mt-sm-8 {
    margin-top: 40px;
  }
  .me-sm-none {
    margin-right: 0px;
  }
  .me-sm-1 {
    margin-right: 4px;
  }
  .me-sm-2 {
    margin-right: 8px;
  }
  .me-sm-3 {
    margin-right: 16px;
  }
  .me-sm-4 {
    margin-right: 20px;
  }
  .me-sm-5 {
    margin-right: 24px;
  }
  .me-sm-6 {
    margin-right: 30px;
  }
  .me-sm-7 {
    margin-right: 32px;
  }
  .me-sm-8 {
    margin-right: 40px;
  }
  .mb-sm-none {
    margin-bottom: 0px;
  }
  .mb-sm-1 {
    margin-bottom: 4px;
  }
  .mb-sm-2 {
    margin-bottom: 8px;
  }
  .mb-sm-3 {
    margin-bottom: 16px;
  }
  .mb-sm-4 {
    margin-bottom: 20px;
  }
  .mb-sm-5 {
    margin-bottom: 24px;
  }
  .mb-sm-6 {
    margin-bottom: 30px;
  }
  .mb-sm-7 {
    margin-bottom: 32px;
  }
  .mb-sm-8 {
    margin-bottom: 40px;
  }
  .ms-sm-none {
    margin-left: 0px;
  }
  .ms-sm-1 {
    margin-left: 4px;
  }
  .ms-sm-2 {
    margin-left: 8px;
  }
  .ms-sm-3 {
    margin-left: 16px;
  }
  .ms-sm-4 {
    margin-left: 20px;
  }
  .ms-sm-5 {
    margin-left: 24px;
  }
  .ms-sm-6 {
    margin-left: 30px;
  }
  .ms-sm-7 {
    margin-left: 32px;
  }
  .ms-sm-8 {
    margin-left: 40px;
  }
}

.mx-none {
  margin-left: 0px;
  margin-right: 0px;
}

.mx-1 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-2 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-3 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-4 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-5 {
  margin-left: 24px;
  margin-right: 24px;
}

.mx-6 {
  margin-left: 30px;
  margin-right: 30px;
}

.mx-7 {
  margin-left: 32px;
  margin-right: 32px;
}

.mx-8 {
  margin-left: 40px;
  margin-right: 40px;
}

.my-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-3 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-5 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-6 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-7 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-8 {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .my-sm-none {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .my-sm-1 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .my-sm-2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .my-sm-3 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .my-sm-4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .my-sm-5 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .my-sm-6 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .my-sm-7 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .my-sm-8 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.-ms-1 {
  margin-left: -1px;
}

.mx-auto {
  margin: 0 auto;
}

@media (max-width: 992px) {
  .mx-sm-auto {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .mx-sm-0 {
    margin-left: 0;
    margin-right: 0;
  }
}

.p-1 {
  padding: 16px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 24px;
}

.p-4 {
  padding: 32px;
}

.p-5 {
  padding: 40px;
}

.p-6 {
  padding: 48px;
}

.p-7 {
  padding: 56px;
}

.p-8 {
  padding: 64px;
}

.pt-1 {
  padding-top: 16px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 24px;
}

.pt-4 {
  padding-top: 32px;
}

.pt-5 {
  padding-top: 40px;
}

.pt-6 {
  padding-top: 48px;
}

.pt-7 {
  padding-top: 56px;
}

.pt-8 {
  padding-top: 64px;
}

.pe-1 {
  padding-right: 16px;
}

.pe-2 {
  padding-right: 20px;
}

.pe-3 {
  padding-right: 24px;
}

.pe-4 {
  padding-right: 32px;
}

.pe-5 {
  padding-right: 40px;
}

.pe-6 {
  padding-right: 48px;
}

.pe-7 {
  padding-right: 56px;
}

.pe-8 {
  padding-right: 64px;
}

.pb-1 {
  padding-bottom: 16px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 24px;
}

.pb-4 {
  padding-bottom: 32px;
}

.pb-5 {
  padding-bottom: 40px;
}

.pb-6 {
  padding-bottom: 48px;
}

.pb-7 {
  padding-bottom: 56px;
}

.pb-8 {
  padding-bottom: 64px;
}

.ps-1 {
  padding-left: 16px;
}

.ps-2 {
  padding-left: 20px;
}

.ps-3 {
  padding-left: 24px;
}

.ps-4 {
  padding-left: 32px;
}

.ps-5 {
  padding-left: 40px;
}

.ps-6 {
  padding-left: 48px;
}

.ps-7 {
  padding-left: 56px;
}

.ps-8 {
  padding-left: 64px;
}

.px-1 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-3 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-4 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-5 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-6 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-7 {
  padding-left: 56px;
  padding-right: 56px;
}

.px-8 {
  padding-left: 64px;
  padding-right: 64px;
}

.py-1 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-5 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-6 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-7 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.py-8 {
  padding-top: 64px;
  padding-bottom: 64px;
}

@media (max-width: 767px) {
  .py-sm-1 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .py-sm-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .py-sm-3 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .py-sm-4 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .py-sm-5 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .py-sm-6 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .py-sm-7 {
    padding-top: 56px;
    padding-bottom: 56px;
  }
  .py-sm-8 {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.w-1 {
  width: 10px;
}

.w-2 {
  width: 20px;
}

.w-3 {
  width: 30px;
}

.w-4 {
  width: 40px;
}

.w-5 {
  width: 50px;
}

.w-14 {
  width: 140px;
}

.w-max {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.h-1 {
  height: 10px;
}

.h-2 {
  height: 20px;
}

.h-3 {
  height: 30px;
}

.h-4 {
  height: 40px;
}

.h-5 {
  height: 50px;
}

.h-14 {
  height: 140px;
}

.h-max {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.border-primary {
  border: 1px #C0A4A5 solid;
}

.border-secondary {
  border: 1px #907A7B solid;
}

.border-danger {
  border: 1px #DC3545 solid;
}

.border-info {
  border: 1px #6C757D solid;
}

.border-light {
  border: 1px #F5F0E7 solid;
}

.border-dark {
  border: 1px #707070 solid;
}

.border-white {
  border: 1px #fff solid;
}

.border-top-primary {
  border-top: 1px #C0A4A5 solid;
}

.border-top-secondary {
  border-top: 1px #907A7B solid;
}

.border-top-danger {
  border-top: 1px #DC3545 solid;
}

.border-top-info {
  border-top: 1px #6C757D solid;
}

.border-top-light {
  border-top: 1px #F5F0E7 solid;
}

.border-top-dark {
  border-top: 1px #707070 solid;
}

.border-top-white {
  border-top: 1px #fff solid;
}

.border-right-primary {
  border-right: 1px #C0A4A5 solid;
}

.border-right-secondary {
  border-right: 1px #907A7B solid;
}

.border-right-danger {
  border-right: 1px #DC3545 solid;
}

.border-right-info {
  border-right: 1px #6C757D solid;
}

.border-right-light {
  border-right: 1px #F5F0E7 solid;
}

.border-right-dark {
  border-right: 1px #707070 solid;
}

.border-right-white {
  border-right: 1px #fff solid;
}

.border-bottom-primary {
  border-bottom: 1px #C0A4A5 solid;
}

.border-bottom-secondary {
  border-bottom: 1px #907A7B solid;
}

.border-bottom-danger {
  border-bottom: 1px #DC3545 solid;
}

.border-bottom-info {
  border-bottom: 1px #6C757D solid;
}

.border-bottom-light {
  border-bottom: 1px #F5F0E7 solid;
}

.border-bottom-dark {
  border-bottom: 1px #707070 solid;
}

.border-bottom-white {
  border-bottom: 1px #fff solid;
}

.border-left-primary {
  border-left: 1px #C0A4A5 solid;
}

.border-left-secondary {
  border-left: 1px #907A7B solid;
}

.border-left-danger {
  border-left: 1px #DC3545 solid;
}

.border-left-info {
  border-left: 1px #6C757D solid;
}

.border-left-light {
  border-left: 1px #F5F0E7 solid;
}

.border-left-dark {
  border-left: 1px #707070 solid;
}

.border-left-white {
  border-left: 1px #fff solid;
}

.border-top-none {
  border-top: none;
}

.border-right-none {
  border-right: none;
}

.border-bottom-none {
  border-bottom: none;
}

.border-left-none {
  border-left: none;
}

.border-none {
  border: none;
}

.border-radius-round {
  border-radius: 16px;
}

.border-top-right-radius-round {
  border-top-right-radius: 4px;
}

.border-top-left-radius-round {
  border-top-left-radius: 4px;
}

.border-bottom-right-radius-round {
  border-bottom-right-radius: 4px;
}

.border-bottom-left-radius-round {
  border-bottom-left-radius: 4px;
}

.border-radius-pill {
  border-radius: 50px;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  .flex-md-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .flex-sm-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex-sm-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 992px) {
  .justify-content-md-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .justify-content-md-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .justify-content-md-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .justify-content-md-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .justify-content-md-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .justify-content-md-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  .justify-content-sm-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .justify-content-sm-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .justify-content-sm-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .justify-content-sm-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .justify-content-sm-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .justify-content-sm-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-items-around {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.align-items-between {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.align-items-evenly {
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

@media (max-width: 992px) {
  .align-items-md-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .align-items-md-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .align-items-md-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .align-items-md-around {
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
  .align-items-md-between {
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
  .align-items-md-evenly {
    -webkit-box-align: space-evenly;
        -ms-flex-align: space-evenly;
            align-items: space-evenly;
  }
}

@media (max-width: 767px) {
  .align-items-sm-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .align-items-sm-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .align-items-sm-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .align-items-sm-around {
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
  .align-items-sm-between {
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
  .align-items-sm-evenly {
    -webkit-box-align: space-evenly;
        -ms-flex-align: space-evenly;
            align-items: space-evenly;
  }
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.align-self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.align-self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.align-self-around {
  -ms-flex-item-align: space-around;
      -ms-grid-row-align: space-around;
      align-self: space-around;
}

.align-self-between {
  -ms-flex-item-align: space-between;
      -ms-grid-row-align: space-between;
      align-self: space-between;
}

.align-self-evenly {
  -ms-flex-item-align: space-evenly;
      -ms-grid-row-align: space-evenly;
      align-self: space-evenly;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 992px) {
  .flex-md-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .flex-sm-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.flex-shrink-none {
  -ms-flex-negative: unset;
      flex-shrink: unset;
}

.link-primary {
  color: #C0A4A5;
  display: inline-block;
}

.link-primary:hover {
  color: #b69596;
}

.link-secondary {
  color: #907A7B;
  display: inline-block;
}

.link-secondary:hover {
  color: #836d6e;
}

.link-danger {
  color: #DC3545;
  display: inline-block;
}

.link-danger:hover {
  color: #d32535;
}

.link-info {
  color: #6C757D;
  display: inline-block;
}

.link-info:hover {
  color: #60686f;
}

.link-light {
  color: #F5F0E7;
  display: inline-block;
}

.link-light:hover {
  color: #eee5d5;
}

.link-dark {
  color: #707070;
  display: inline-block;
}

.link-dark:hover {
  color: #636363;
}

.link-white {
  color: #fff;
  display: inline-block;
}

.link-white:hover {
  color: #f2f2f2;
}

.text-center {
  text-align: center;
}

.overflowx-scroll {
  overflow-x: scroll;
}

.overflowHidden {
  overflow: hidden;
}

.home-logo {
  height: 30px;
}

.home-nav-menu {
  display: none;
}

@media (max-width: 992px) {
  .home-nav-tab,
  .home-nav-contact {
    display: none;
  }
  .home-nav-menu {
    display: inline-block;
  }
  .home-nav-menu span {
    font-size: 30px;
  }
}

.home-banner {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg");
  background-position: bottom;
  padding-top: 185px;
  padding-bottom: 185px;
  padding-left: 122px;
  background-size: 80%;
}

@media (max-width: 992px) {
  .home-banner {
    background-size: 110%;
  }
}

@media (max-width: 767px) {
  .home-banner {
    padding-left: 0;
    padding-top: 160px;
    padding-bottom: 160px;
    background-size: 190%;
    background-position: center;
  }
}

.home-sidebar-fixed {
  position: fixed;
  right: 2%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  z-index: 2;
}

@media (max-width: 992px) {
  .home-sidebar-fixed {
    display: none;
  }
}

.home-class-feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (max-width: 767px) {
  .home-class-feature-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.home-class-feature-banner1,
.home-class-feature-banner2,
.home-class-feature-banner3 {
  border-radius: 16px;
  height: 420px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 24px;
  max-width: 350px;
  height: 420px;
}

@media (max-width: 992px) {
  .home-class-feature-banner1,
  .home-class-feature-banner2,
  .home-class-feature-banner3 {
    padding: 16px;
    max-width: 210px;
    height: 252px;
  }
}

@media (max-width: 767px) {
  .home-class-feature-banner1,
  .home-class-feature-banner2,
  .home-class-feature-banner3 {
    padding: 24px;
    max-width: 345px;
    height: 420px;
    margin-bottom: 16px;
  }
}

.home-class-feature-banner1 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1593810450967-f9c42742e326.jpeg");
}

.home-class-feature-banner2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1593810451137-5dc55105dace.jpeg");
}

.home-class-feature-banner3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1599901860904-17e6ed7083a0.jpeg");
}

@media (max-width: 992px) {
  .home-teacher-details-body {
    text-align: center;
  }
}

.home-teacher-details-banner {
  max-width: 540px;
  height: 628px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

@media (max-width: 992px) {
  .home-teacher-details-banner {
    display: none;
  }
}

.home-teacher-details-list {
  padding-top: 24px;
}

@media (max-width: 992px) {
  .home-teacher-details-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 120px;
  }
}

@media (max-width: 767px) {
  .home-teacher-details-list {
    padding-left: 0;
  }
}

.home-teacher-details-item {
  width: 540px;
  padding: 24px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  border-radius: 16px;
  margin-bottom: 16px;
}

.home-teacher-details-item div {
  margin-left: 20px;
}

.home-teacher-details-item img {
  width: 68px;
}

.home-teacher-details-item .home-teacher-details-hover {
  display: none;
}

.home-teacher-details-item:hover {
  width: 635px;
  padding: 40px 48px;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.home-teacher-details-item:hover img {
  width: 94px;
}

.home-teacher-details-item:hover .home-teacher-details-hover {
  display: inline-block;
}

@media (max-width: 767px) {
  .home-teacher-details-item {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px;
  }
  .home-teacher-details-item:hover {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
    padding: 16px;
  }
  .home-teacher-details-item:hover img {
    width: 48px;
    height: 48px;
  }
}

.home-enviroment-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
  padding-bottom: 64px;
}

@media (max-width: 767px) {
  .home-enviroment-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.home-enviroment-intro-banner1,
.home-enviroment-intro-banner2,
.home-enviroment-intro-banner3 {
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-enviroment-intro-banner1 {
  max-width: 350px;
  height: 444px;
}

@media (max-width: 992px) {
  .home-enviroment-intro-banner1 {
    max-width: 210px;
    height: 266px;
  }
}

@media (max-width: 767px) {
  .home-enviroment-intro-banner1 {
    display: none;
  }
}

.home-enviroment-intro-banner2,
.home-enviroment-intro-banner3 {
  width: 160px;
  height: 207px;
}

@media (max-width: 992px) {
  .home-enviroment-intro-banner2,
  .home-enviroment-intro-banner3 {
    width: 90px;
    height: 117px;
  }
}

@media (max-width: 767px) {
  .home-enviroment-intro-banner2,
  .home-enviroment-intro-banner3 {
    width: 165px;
    height: 210px;
  }
}

.home-course-intro-banner {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.home-course-intro-banner img {
  border-radius: 16px;
  width: 445px;
  height: 445px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992px) {
  .home-course-intro-banner img {
    width: 150px;
    height: 150px;
  }
}

.home-course-intro-list-tablet,
.home-course-intro-list-mobile {
  display: none;
}

.home-course-intro-list-pc {
  width: 540px;
}

@media (max-width: 992px) {
  .home-course-intro-list-pc {
    display: none;
  }
}

.home-course-intro-list-tablet {
  width: 360px;
}

.home-course-intro-list-tablet ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 992px) {
  .home-course-intro-list-tablet {
    display: inline-block;
  }
}

.home-plan-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 992px) {
  .home-plan-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .home-plan-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.home-plan {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 16px;
  border: 1px solid #C0A4A5;
  margin-top: 24px;
}

.home-plan img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 350px;
  height: 243px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-plan div {
  padding: 24px;
}

@media (max-width: 992px) {
  .home-plan {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 690px;
  }
  .home-plan img {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 0;
    width: 345px;
    height: 238px;
  }
  .home-plan div {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .home-plan {
    max-width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 16px;
    border: 1px solid #C0A4A5;
  }
  .home-plan img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    width: 350px;
    height: 243px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home-plan div {
    padding: 24px;
  }
}

.home-feedback-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .home-feedback-list {
    width: 1110px;
  }
}

@media (max-width: 767px) {
  .home-feedback-list {
    display: none;
  }
}

.home-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  background-color: #fff;
  padding: 14px 16px;
  width: 350px;
  margin-bottom: 16px;
}

@media (max-width: 992px) {
  .home-feedback {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.home-feedback-mobile {
  display: none;
}

@media (max-width: 767px) {
  .home-feedback-mobile {
    display: inline-block;
  }
}

.home-feedback-list-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.home-footer-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-footer-email input {
  padding: 8px 16px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px transparent solid;
}

.home-footer-email input ::-webkit-input-placeholder {
  color: #907A7B;
}

.home-footer-email input :-ms-input-placeholder {
  color: #907A7B;
}

.home-footer-email input ::-ms-input-placeholder {
  color: #907A7B;
}

.home-footer-email input ::placeholder {
  color: #907A7B;
}

.home-footer-email a {
  font-weight: 700;
  padding: 8px 16px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: inline-block;
  text-align: center;
  background-color: #C0A4A5;
  color: #fff;
}

.home-footer-moreInfo-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-footer-moreInfo-pc img {
  width: 96px;
}

@media (max-width: 767px) {
  .home-footer-moreInfo-pc {
    display: none;
  }
}

.home-footer-moreInfo-mobile {
  display: none;
}

.home-footer-moreInfo-mobile img {
  width: 96px;
}

@media (max-width: 767px) {
  .home-footer-moreInfo-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.course-intro-banner {
  width: 540px;
  height: 341px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

@media (max-width: 992px) {
  .course-intro-banner {
    width: 330px;
    height: 341px;
  }
}

@media (max-width: 767px) {
  .course-intro-banner {
    width: 345px;
    height: 378px;
    margin-bottom: 8px;
  }
}

.course-intro-time-hint {
  color: #fff;
  padding: 4px 16px;
  border-radius: 16px;
  margin-left: 6px;
  background-color: #907A7B;
  font-size: 14px;
}

.course-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.course-search input {
  padding: 6px 12px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: transparent;
}

.course-search input::-webkit-input-placeholder {
  color: #907A7B;
}

.course-search input:-ms-input-placeholder {
  color: #907A7B;
}

.course-search input::-ms-input-placeholder {
  color: #907A7B;
}

.course-search input::placeholder {
  color: #907A7B;
}

.course-search a {
  display: inline-block;
  padding: 6px 12px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  background: #907A7B;
}

.course-filter {
  color: #907A7B;
  border: transparent;
  border-radius: 4px;
}

.course-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .course-card-list {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .course-card-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.course-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 24px;
  color: #fff;
  height: 196px;
  background-size: cover;
  border-radius: 16px;
  background-position: center;
  margin-bottom: 30px;
  position: relative;
}

.course-card span {
  position: absolute;
  top: 0;
  left: 24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 4px 16px;
  border-radius: 16px;
  background: #C0A4A5;
}

.course-card h2 {
  font-size: 28px;
}

.course-card-1 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20doing%20yoga%20beside%20wall.jpg");
  width: 400px;
}

.course-card-2 {
  background-image: url("https://images.unsplash.com/photo-1574454941059-9408c4d3f268?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  width: 300px;
}

.course-card-3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20black%20sports%20bra%20and%20black%20leggings%20doing%20yoga.jpg");
  width: 300px;
}

.course-card-4 {
  background-image: url("https://images.unsplash.com/photo-1601568870191-8c417f7e0077?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  width: 400px;
}

.course-card-5 {
  background-image: url("https://images.unsplash.com/photo-1573462239448-06b5cde9df64?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1436&q=80");
  width: 400px;
}

.course-card-6 {
  background-image: url("https://images.unsplash.com/photo-1554245064-3ab88761ac5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
  width: 300px;
}

.course-card-7 {
  background-image: url("https://images.unsplash.com/photo-1601568870227-099504d72c3c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  width: 300px;
}

.course-card-8 {
  background-image: url("https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  width: 400px;
}

@media (max-width: 992px) {
  .course-card {
    width: 330px;
  }
}

.course-instructor-card {
  position: relative;
  border-radius: 16px;
  background: #907A7B;
  width: 350px;
  color: #fff;
  padding: 72px 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.course-instructor-card:nth-child(odd) {
  background: #C0A4A5;
}

.course-instructor-card:nth-child(odd) img {
  border: 4px solid #907A7B;
}

.course-instructor-card img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 4px solid #C0A4A5;
  border-radius: 50px;
  width: 96px;
}

.course-modal-bg-dark {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.course-modal {
  background: #C0A4A5;
  padding: 32px 64px 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 16px;
  width: 920px;
}

@media (max-width: 992px) {
  .course-modal {
    width: 690px;
  }
}

@media (max-width: 767px) {
  .course-modal {
    width: 345px;
    padding: 16px 32px 16px;
  }
}

.course-modal-banner {
  width: 418px;
  height: 418px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

@media (max-width: 992px) {
  .course-modal-banner {
    width: 264px;
  }
}

@media (max-width: 767px) {
  .course-modal-banner {
    width: 165px;
    height: 165px;
    margin-bottom: 16px;
  }
}

.space-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .space-card-list {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .space-card-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.space-card {
  width: 350px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 24px;
  color: #fff;
  background-size: cover;
  border-radius: 16px;
  background-position: center;
  margin-bottom: 30px;
  position: relative;
}

@media (max-width: 992px) {
  .space-card {
    width: 210px;
    height: 210px;
  }
}

.space-card h2 {
  font-size: 28px;
}

.space-card-1 {
  background-image: url("https://images.unsplash.com/photo-1616940779493-6958fbd615fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80");
  width: 729px;
  height: 350px;
}

@media (max-width: 992px) {
  .space-card-1 {
    width: 450px;
    height: 216px;
  }
}

.space-card-2 {
  background-image: url("https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}

.space-card-3 {
  background-image: url("https://images.unsplash.com/photo-1584622650111-993a426fbf0a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
}

.space-card-4 {
  background-image: url("https://images.unsplash.com/photo-1600881333168-2ef49b341f30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80");
}

.space-card-5 {
  background-image: url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1526&q=80");
}

@media (max-width: 767px) {
  .space-card {
    width: 345px;
    height: 350px;
  }
}

.space-recommend-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-recommend-card-list li {
  margin-right: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.space-recommend-card-list li img {
  width: 255px;
  height: 196px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

.curriculum-table {
  color: #907A7B;
}

.curriculum-table tr {
  border-bottom: 1px #C0A4A5 solid;
  background-color: #fff;
}

.curriculum-table tr :nth-child(2n) {
  background-color: #F5F0E7;
}

.curriculum-table tr th {
  padding: 8px 4px;
  border-right: 1px #C0A4A5 solid;
}

.curriculum-table tr td {
  padding: 8px 8px;
}

.curriculum-table td[colspan] {
  background-color: #fff;
  text-align: center;
}

.curriculumn-requiremnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 710px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.curriculumn-requiremnt li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.curriculumn-requiremnt p {
  width: 580px;
  padding: 16px 24px;
  border: 1px #C0A4A5 solid;
  border-radius: 16px;
  margin-left: 24px;
}

@media (max-width: 767px) {
  .curriculumn-requiremnt p {
    width: 305px;
  }
}

.curriculumn-requiremnt :nth-child(n) p {
  color: #907A7B;
}

.curriculumn-requiremnt :nth-child(2n) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.curriculumn-requiremnt :nth-child(2n) p {
  color: #fff;
  border: 1px #C0A4A5;
  background-color: #C0A4A5;
}

@media (max-width: 767px) {
  .curriculumn-requiremnt :nth-child(2n) {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

@media (max-width: 767px) {
  .curriculumn-requiremnt {
    width: auto;
  }
}

.bg-primary {
  background-color: #C0A4A5;
}

.bg-secondary {
  background-color: #907A7B;
}

.bg-danger {
  background-color: #DC3545;
}

.bg-info {
  background-color: #6C757D;
}

.bg-light {
  background-color: #F5F0E7;
}

.bg-dark {
  background-color: #707070;
}

.bg-white {
  background-color: #fff;
}

.btn {
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}

.btn-primary-outlined {
  color: #C0A4A5;
  border: 1px #C0A4A5 solid;
}

.btn-primary-outlined:hover {
  background-color: #C0A4A5;
  color: #fff;
}

.btn-secondary-outlined {
  color: #907A7B;
  border: 1px #907A7B solid;
}

.btn-secondary-outlined:hover {
  background-color: #907A7B;
  color: #fff;
}

.btn-danger-outlined {
  color: #DC3545;
  border: 1px #DC3545 solid;
}

.btn-danger-outlined:hover {
  background-color: #DC3545;
  color: #fff;
}

.btn-info-outlined {
  color: #6C757D;
  border: 1px #6C757D solid;
}

.btn-info-outlined:hover {
  background-color: #6C757D;
  color: #fff;
}

.btn-light-outlined {
  color: #F5F0E7;
  border: 1px #F5F0E7 solid;
}

.btn-light-outlined:hover {
  background-color: #F5F0E7;
  color: #fff;
}

.btn-dark-outlined {
  color: #707070;
  border: 1px #707070 solid;
}

.btn-dark-outlined:hover {
  background-color: #707070;
  color: #fff;
}

.btn-white-outlined {
  color: #fff;
  border: 1px #fff solid;
}

.btn-white-outlined:hover {
  background-color: #fff;
  color: #fff;
}

.btn-round {
  border-radius: 16px;
}

.btn-primary-lg {
  color: #C0A4A5;
  border: 1px #C0A4A5 solid;
  padding: 8px 48px;
}

.btn-primary-lg:hover {
  background-color: #C0A4A5;
  color: #fff;
}

.btn-secondary-lg {
  color: #907A7B;
  border: 1px #907A7B solid;
  padding: 8px 48px;
}

.btn-secondary-lg:hover {
  background-color: #907A7B;
  color: #fff;
}

.btn-danger-lg {
  color: #DC3545;
  border: 1px #DC3545 solid;
  padding: 8px 48px;
}

.btn-danger-lg:hover {
  background-color: #DC3545;
  color: #fff;
}

.btn-info-lg {
  color: #6C757D;
  border: 1px #6C757D solid;
  padding: 8px 48px;
}

.btn-info-lg:hover {
  background-color: #6C757D;
  color: #fff;
}

.btn-light-lg {
  color: #F5F0E7;
  border: 1px #F5F0E7 solid;
  padding: 8px 48px;
}

.btn-light-lg:hover {
  background-color: #F5F0E7;
  color: #fff;
}

.btn-dark-lg {
  color: #707070;
  border: 1px #707070 solid;
  padding: 8px 48px;
}

.btn-dark-lg:hover {
  background-color: #707070;
  color: #fff;
}

.btn-white-lg {
  color: #fff;
  border: 1px #fff solid;
  padding: 8px 48px;
}

.btn-white-lg:hover {
  background-color: #fff;
  color: #fff;
}

.btn-primary {
  color: #fff;
  border: 1px transparent solid;
  background-color: #C0A4A5;
  padding: 4px 24px;
}

.btn-primary:hover {
  border: 1px #C0A4A5 solid;
  background-color: #fff;
  color: #C0A4A5;
}

.btn-secondary {
  color: #fff;
  border: 1px transparent solid;
  background-color: #907A7B;
  padding: 4px 24px;
}

.btn-secondary:hover {
  border: 1px #907A7B solid;
  background-color: #fff;
  color: #907A7B;
}

.btn-danger {
  color: #fff;
  border: 1px transparent solid;
  background-color: #DC3545;
  padding: 4px 24px;
}

.btn-danger:hover {
  border: 1px #DC3545 solid;
  background-color: #fff;
  color: #DC3545;
}

.btn-info {
  color: #fff;
  border: 1px transparent solid;
  background-color: #6C757D;
  padding: 4px 24px;
}

.btn-info:hover {
  border: 1px #6C757D solid;
  background-color: #fff;
  color: #6C757D;
}

.btn-light {
  color: #fff;
  border: 1px transparent solid;
  background-color: #F5F0E7;
  padding: 4px 24px;
}

.btn-light:hover {
  border: 1px #F5F0E7 solid;
  background-color: #fff;
  color: #F5F0E7;
}

.btn-dark {
  color: #fff;
  border: 1px transparent solid;
  background-color: #707070;
  padding: 4px 24px;
}

.btn-dark:hover {
  border: 1px #707070 solid;
  background-color: #fff;
  color: #707070;
}

.btn-white {
  color: #fff;
  border: 1px transparent solid;
  background-color: #fff;
  padding: 4px 24px;
}

.btn-white:hover {
  border: 1px #fff solid;
  background-color: #fff;
  color: #fff;
}

.btn-light {
  color: #907A7B;
  border: 1px solid #F5F0E7;
  background: #F5F0E7;
}

.btn-light:hover {
  background: #907A7B;
  border: 1px solid #907A7B;
  color: #F5F0E7;
}

.btn-secondary {
  color: #F5F0E7;
  border: 1px solid #907A7B;
  background: #907A7B;
}

.btn-secondary:hover {
  background: #707070;
  border: 1px solid #707070;
  color: #F5F0E7;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    visibility: visible;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    visibility: visible;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slideDown {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slideInRight {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slideInLeft {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
/*# sourceMappingURL=all.css.map */