.home-logo {
  height: 30px;
}
.home-nav-menu {
  display: none;
}

@include tablet {
  .home-nav-tab,
  .home-nav-contact {
    display: none;
  }
  .home-nav-menu {
    display: inline-block;
    span {
      font-size: 30px;
    }
  }
}

.home-banner {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg");
  background-position: bottom;
  padding-top: 185px;
  padding-bottom: 185px;
  padding-left: 122px;
  background-size: 80%;
  @include tablet {
    background-size: 110%;
  }
  @include mobile {
    padding-left: 0;
    padding-top: 175px;
    padding-bottom: 175px;
    background-size: 190%;
    background-position: center;
  }
}

.home-sidebar-fixed {
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 2;
  @include tablet {
    display: none;
  }
}
.home-class-feature-list {
  display: flex;
  justify-content: space-around;
  padding-top: 32px;
  padding-bottom: 32px;
  @include mobile {
    flex-wrap: wrap;
  }
}
.home-class-feature-banner1,
.home-class-feature-banner2,
.home-class-feature-banner3 {
  border-radius: 16px;
  height: 420px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;
  max-width: 350px;
  height: 420px;
  @include tablet {
    padding: 16px;
    max-width: 210px;
    height: 252px;
  }
  @include mobile {
    padding: 24px;
    max-width: 345px;
    height: 420px;
    margin-bottom: 16px;
  }
}
.home-class-feature-banner1 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1593810450967-f9c42742e326.jpeg");
}
.home-class-feature-banner2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1593810451137-5dc55105dace.jpeg");
}
.home-class-feature-banner3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1599901860904-17e6ed7083a0.jpeg");
}

//頂級師資

.home-teacher-details-body {
  @include tablet {
    text-align: center;
  }
}
.home-teacher-details-banner {
  max-width: 540px;
  height: 628px;
  object-fit: cover;
  border-radius: 16px;
  @include tablet {
    display: none;
  }
}
.home-teacher-details-list {
  padding-top: 24px;
  @include tablet {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
  }
  @include mobile {
    padding-left: 0;
  }
}

.home-teacher-details-item {
  width: 540px;
  padding: 24px 32px;
  display: flex;
  justify-content: flex-start;
  background-color: $white;
  border-radius: 16px;
  margin-bottom: 16px;
  div {
    margin-left: 20px;
  }
  img {
    width: 68px;
  }
  .home-teacher-details-hover {
    display: none;
  }
  &:hover {
    width: 635px;
    padding: 40px 48px;
    img {
      width: 94px;
    }

    transform: translateX(-30%);
    .home-teacher-details-hover {
      display: inline-block;
    }
  }
  @include mobile {
    width: 100%;
    align-items: center;
    padding: 16px;

    &:hover {
      transform: translateX(0);
      width: 100%;
      padding: 16px;
      img {
        width: 48px;
        height: 48px;
      }
    }
  }
}

.home-enviroment-intro {
  display: flex;
  padding-top: 64px;
  padding-bottom: 64px;
  @include mobile {
    flex-direction: column-reverse;
  }
}

.home-enviroment-intro-banner1,
.home-enviroment-intro-banner2,
.home-enviroment-intro-banner3 {
  border-radius: 16px;
  object-fit: cover;
}
.home-enviroment-intro-banner1 {
  max-width: 350px;
  height: 444px;
  @include tablet {
    max-width: 210px;
    height: 266px;
  }
  @include mobile {
    display: none;
  }
}

.home-enviroment-intro-banner2,
.home-enviroment-intro-banner3 {
  width: 160px;
  height: 207px;
  @include tablet {
    width: 90px;
    height: 117px;
  }
  @include mobile {
    width: 165px;
    height: 210px;
  }
}

.home-course-intro-banner {
  flex-shrink: 0;
  img {
    border-radius: 16px;
    width: 445px;
    height: 445px;
    object-fit: cover;
  }
  @include tablet {
    img {
      width: 150px;
      height: 150px;
    }
  }
}
.home-course-intro-list-tablet,
.home-course-intro-list-mobile {
  display: none;
}
.home-course-intro-list-pc {
  width: 540px;
  @include tablet {
    display: none;
  }
}
.home-course-intro-list-tablet {
  width: 360px;
  ul {
    flex-wrap: wrap;
  }

  @include tablet {
    display: inline-block;
  }
}
.home-plan-list {
  display: flex;
  justify-content: space-around;
  @include tablet {
    flex-direction: column;
    align-items: center;
  }
  @include mobile {
    flex-wrap: wrap;
  }
}
.home-plan {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid $primary;
  margin-top: 24px;
  img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 350px;
    height: 243px;
    object-fit: cover;
  }
  div {
    padding: 24px;
  }
  @include tablet {
    flex-direction: row;
    max-width: 690px;

    img {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      border-top-right-radius: 0;
      width: 345px;
      height: 238px;
    }
    div {
      width: 345px;
    }
  }

  @include mobile {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid $primary;
    img {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      border-bottom-left-radius: 0;
      width: 350px;
      height: 243px;
      object-fit: cover;
    }
    div {
      padding: 24px;
    }
  }
}
.home-feedback-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include tablet {
    width: 1110px;
  }
  @include mobile {
    display: none;
  }
}
.home-feedback {
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-color: $white;
  padding: 14px 16px;
  width: 350px;
  margin-bottom: 16px;
  @include tablet {
    flex-shrink: 0;
  }
}
.home-feedback-mobile {
  display: none;
  @include mobile {
    display: inline-block;
  }
}

.home-feedback-list-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.home-footer-email {
  display: flex;
  input {
    padding: $spacer * 2 $spacer * 4;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px transparent solid;
    ::placeholder {
      color: $secondary;
    }
  }
  a {
    font-weight: 700;
    padding: $spacer * 2 $spacer * 4;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: inline-block;
    text-align: center;
    background-color: $primary;
    color: $white;
  }
  
}

.home-footer-moreInfo-pc {
  display: flex;
  justify-content: space-between;
  img {
    width: 96px;
  }
  @include mobile{
      display: none;
  }
}
.home-footer-moreInfo-mobile {
  display: none;
  img{
      width: 96px;
  }
  @include mobile{
      display: flex;
      justify-content: space-between;
  }
}
