.home-logo {
  height: 30px;
}
.home-nav-menu {
  display: none;
}

@include tablet {
  .home-nav-tab,
  .home-nav-contact {
    display: none;
  }
  .home-nav-menu {
    display: inline-block;
    span {
      font-size: 30px;
    }
  }
}

.home-banner {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg");
  background-position: bottom;
  padding-top: 185px;
  padding-bottom: 185px;
  padding-left: 122px;
  background-size: 80%;
  @include tablet {
    background-size: 110%;
  }
  @include mobile {
    padding-left: 0;
    padding-top: 175px;
    padding-bottom: 175px;
    background-size: 190%;
    background-position: center;
  }
}

.home-sidebar-fixed {
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 2;
  @include tablet {
    display: none;
  }
}
.home-class-feature-list {
  display: flex;
  justify-content: space-around;
  padding-top: 32px;
  padding-bottom: 32px;
  @include mobile {
    flex-wrap: wrap;
  }
}
.home-class-feature-banner1,
.home-class-feature-banner2,
.home-class-feature-banner3 {
  border-radius: 16px;
  height: 420px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;
  max-width: 350px;
  height: 420px;
  @include tablet {
    padding: 16px;
    max-width: 210px;
    height: 252px;
  }
  @include mobile {
    padding: 24px;
    max-width: 345px;
    height: 420px;
    margin-bottom: 16px;
  }
}
.home-class-feature-banner1 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1593810450967-f9c42742e326.jpeg");
}
.home-class-feature-banner2 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1593810451137-5dc55105dace.jpeg");
}
.home-class-feature-banner3 {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1599901860904-17e6ed7083a0.jpeg");
}

//頂級師資

.home-teacher-details-body{
    @include tablet{
     text-align: center;     
    
    }
    
}
.home-teacher-details-banner {
  max-width: 540px;
  height: 628px;
  object-fit: cover;
  border-radius: 16px;
  @include tablet{
      display: none;
  }
}
.home-teacher-details-list {
    padding-top: 24px;
    @include tablet{
        display: flex;
        flex-direction: column;
        padding-left: 120px;
    }
    @include mobile{
        padding-left: 0;
    }
}

.home-teacher-details-item {
  width: 540px;
  padding: 24px 32px;
  display: flex;
  justify-content: flex-start;
  background-color: $white;
  border-radius: 16px;
  margin-bottom: 16px;
  div {
    margin-left: 20px;
  }
  img {
    width: 68px;
  }
  .home-teacher-details-hover {
    display: none;
  }
  &:hover {
    width: 635px;
    padding: 40px 48px;
    img {
      width: 94px;
    }

    transform: translateX(-30%);
    .home-teacher-details-hover {
      display: inline-block;
    }
  }
  @include mobile{
      width: 100%;
      align-items: center;
      padding: 16px;

      &:hover{
         transform: translateX(0); 
         width: 100%;
         padding: 16px;
         img {
           width: 48px;
           height: 48px;
         }
      }
    
  }
}

.home-enviroment-intro{
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    @include mobile{
        flex-direction: column-reverse;
    }

}

.home-enviroment-intro-banner1,.home-enviroment-intro-banner2,.home-enviroment-intro-banner3{
    border-radius: 16px;
    object-fit: cover;
}
.home-enviroment-intro-banner1{
    max-width: 350px;
    height: 444px;
     @include tablet{
        max-width: 210px;
        height: 266px;
     }
     @include mobile{
         display: none;
     }

}

.home-enviroment-intro-banner2,.home-enviroment-intro-banner3{
    width: 160px;
    height: 207px;
    @include tablet{
        width: 90px;
        height: 117px;
     }
     @include mobile{
        width: 165px;
        height:210px;
     }
}