<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="scss/all.css">
    <title>DOYOGA，做你的瑜珈</title>
</head>

<body>
    <div id="app">
        <!-- 表頭開始 -->
        <nav class="bg-light py-1">
            <div class="container d-flex justify-content-between align-items-center">
                <a href="#" @click.prevent="showHomePage">
                    <img class="home-logo"
                        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/DOYOGA-logo.png"
                        alt="logo">
                </a>
                <ul class="d-flex home-nav-tab">
                    <li><a @click.prevent="showCourseIntroPage" href="#" class="link-info font-light ms-7">課程介紹</a></li>
                    <li><a @click.prevent="showSpacePage" href="#" class="link-info font-light ms-7">瑜珈空間</a></li>
                    <li><a href="#" class="link-info font-light ms-7">當月課表</a></li>
                </ul>
                <ul class="d-flex home-nav-contact">

                    <li><a href="#" class="btn  btn-secondary-outlined btn-round ms-3">立即預約</a></li>
                    <li><a href="#" class="btn  btn-secondary-outlined btn-round ms-3">聯絡我們</a></li>
                </ul>
                <a href="#" class="link-secondary  home-nav-menu">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </nav>
        <!-- 表頭結束 -->
        <!-- 首頁開始 -->
        <div v-if="homePageStatus">
            <!-- 首頁banner開始 -->
            <div class="home-banner">
                <div class="container  d-flex flex-column">
                    <div class="col-4 col-sm-3">
                        <p>健身輕時尚</p>
                        <h1 class="fs-6 fs-sm-5 font-medium">DOYOGA，做你的瑜珈</h1>
                        <p class="fs-4 fs-sm-3 mb-3">多給自己一點時間享受靜謐，傾聽內心的聲音。</p>
                        <ul class="d-flex">
                            <li><a href="#" class="btn btn-light">立即預約</a></li>
                            <li><a href="#" class="btn btn-secondary ms-2">立即預約</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- 首頁banner結束 -->
            <!-- 右側釘選社群開始 -->
            <ul class="home-sidebar-fixed">
                <li><a href="#" class="link-secondary"><i class="fab fa-facebook fs-7 mb-2"></i></a></li>
                <li><a href="#" class="link-secondary"><i class="fab fa-instagram fs-7 mb-2"></i></a></li>
                <li><a href="#" class="link-secondary"><i class="fab fa-line fs-7 mb-2"></i></a></li>
            </ul>
            <!-- 右側釘選社群結束 -->
            <!-- 課程特色開始 -->
            <div class="container pt-5 pb-3">
                <h2 class="font-medium fs-5 text-center font-secondary">感受身心，活在當下</h2>
                <p class="fs-3 text-center  font-primary font-regular">DOYOGA 可以帶給你...</p>
                <ul class="home-class-feature-list">
                    <li class="home-class-feature-banner1 ">
                        <h3 class="fs-3 font-white">整體健身</h3>
                        <p class="font-white">每一個動作，都融入運動解剖學的的觀點強調以身體的中心線為出發點。</p>
                    </li>
                    <li class="home-class-feature-banner2">
                        <h3 class="fs-3 font-white">整體健身</h3>
                        <p class="font-white">每一個動作，都融入運動解剖學的的觀點強調以身體的中心線為出發點。</p>
                    </li>
                    <li class="home-class-feature-banner3">
                        <h3 class="fs-3 font-white">整體健身</h3>
                        <p class="font-white">每一個動作，都融入運動解剖學的的觀點強調以身體的中心線為出發點。</p>
                    </li>
                </ul>
            </div>
            <!-- 課程特色結束 -->
            <!-- 頂尖師資開始 -->
            <div class="bg-light">
                <div class="container d-flex justify-content-around py-8">
                    <img class="home-teacher-details-banner"
                        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1540206276207-3af25c08abc4.jpeg"
                        alt="teacher detail info picture">
                    <div class="col-6">
                        <div class="home-teacher-details-body">
                            <h2 class="font-medium fs-5 font-secondary mb-1">頂尖師資、專業教學</h2>
                            <p class="fs-3 font-primary font-regular">強力師資，經歷豐富，協會認證。運用引導式教學，針對不同需求的人制定專屬課程。</p>
                        </div>

                        <ul class="home-teacher-details-list">
                            <li class="home-teacher-details-item">
                                <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/teacher-1.png"
                                    alt="teacher selfie">
                                <div>
                                    <h4 class="fs-4">Carol Tang 老師</h4>
                                    <p>教學經歷 10 年</p>
                                    <p class="home-teacher-details-hover">瑜珈讓我重新認識自己的身體，也讓我有了不一樣的人生。</p>

                                </div>
                            </li>
                            <li class="home-teacher-details-item">
                                <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/teacher-2.png"
                                    alt="teacher selfie">
                                <div>
                                    <h4 class="fs-4">Kanae 老師</h4>
                                    <p>教學經歷 10 年</p>
                                    <p class="home-teacher-details-hover">瑜珈讓我重新認識自己的身體，也讓我有了不一樣的人生。</p>
                                </div>
                            </li>
                            <li class="home-teacher-details-item">
                                <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/teacher-3.png"
                                    alt="teacher selfie">
                                <div>
                                    <h4 class="fs-4">Carol Tang 老師</h4>
                                    <p>教學經歷 10 年</p>
                                    <p class="home-teacher-details-hover">瑜珈讓我重新認識自己的身體，也讓我有了不一樣的人生。</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 頂尖師資結束 -->
            <!-- 環境介紹開始 -->
            <div class="container  py-8 justify-content-start home-enviroment-intro">
                <img class="home-enviroment-intro-banner1"
                    src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20doing%20yoga.jpg"
                    alt="Environment picture ">
                <div
                    class="d-flex flex-column flex-sm-row justify-content-between  justify-content-sm-evenly  ms-6 mx-sm-0">
                    <img class="home-enviroment-intro-banner2"
                        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/white%20round%20table%20near%20brown%20wooden%20chair.jpg"
                        alt="Environment picture ">
                    <img class="home-enviroment-intro-banner3"
                        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20black%20sports%20bra%20and%20blue%20denim%20jeans%20doing%20yoga.jpg"
                        alt="Environment picture ">
                </div>
                <div class="d-flex flex-column justify-content-center col-5 col-sm-4  ms-6 mx-sm-0 mb-sm-5">
                    <h2 class="font-medium fs-5 font-secondary mb-1">舒適空間、靜心放鬆</h2>
                    <p class="fs-3 font-primary font-regular mb-5">我們都渴望平靜安穩的生活，擁有一處能夠靜心的角落，安撫每天繁雜忙碌的心。</p>
                    <a href="#" class="link-secondary">環境介紹 <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
            <!-- 環境介紹結束 -->
            <!-- 課程介紹開始 -->
            <div class="bg-light py-8">
                <div class="container d-flex justify-content-evenly  flex-sm-column">
                    <div class="d-flex flex-column justify-content-center col-5 col-sm-4 mb-sm-3">
                        <h2 class="font-medium fs-5 font-secondary mb-1">精心設計、課程多元</h2>
                        <p class="fs-3 font-primary font-regular mb-5">教師帶領多元課程，釋放壓力，與身心常見的緊繃不適溫柔和解。</p>
                        <a href="#" class="link-secondary">課程介紹 <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                    <div class="home-course-intro-list-pc">
                        <div class="overflowx-scroll">
                            <ul class="d-flex">
                                <li class="home-course-intro-banner"><img
                                        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20doing%20yoga%20beside%20wall.jpg"
                                        alt="Course Intro Picture"></li>
                                <li class="home-course-intro-banner ms-6"><img
                                        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20white%20tank%20top%20and%20white%20leggings%20bending%20her%20body.jpg"
                                        alt="Course Intro Picture"></li>
                                <li class="home-course-intro-banner ms-6"><img
                                        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20blue%20leggings%20and%20black%20tank%20top%20doing%20yoga.jpg"
                                        alt="Course Intro Picture"></li>
                                <li class="home-course-intro-banner ms-6"><img
                                        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20white%20tank%20top%20and%20white%20pants%20bending%20her%20body%20by%20the%20window.jpg"
                                        alt="Course Intro Picture"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="home-course-intro-list-tablet">
                        <ul class="d-flex justify-content-sm-center">
                            <li class="home-course-intro-banner mb-md-6 mb-sm-3"><img
                                    src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20doing%20yoga%20beside%20wall.jpg"
                                    alt="Course Intro Picture"></li>
                            <li class="home-course-intro-banner ms-6 mb-md-6 ms-sm-3 mb-sm-3"><img
                                    src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20white%20tank%20top%20and%20white%20leggings%20bending%20her%20body.jpg"
                                    alt="Course Intro Picture"></li>
                            <li class="home-course-intro-banner ms-6 ms-md-none "><img
                                    src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20blue%20leggings%20and%20black%20tank%20top%20doing%20yoga.jpg"
                                    alt="Course Intro Picture"></li>
                            <li class="home-course-intro-banner ms-6 ms-sm-3 "><img
                                    src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20white%20tank%20top%20and%20white%20pants%20bending%20her%20body%20by%20the%20window.jpg"
                                    alt="Course Intro Picture"></li>
                        </ul>
                    </div>



                </div>
            </div>
            <!-- 課程介紹結束 -->
            <!-- 方案選擇開始 -->
            <div class="container py-5">
                <h2 class="font-medium fs-5 text-center font-secondary">方案選擇</h2>
                <p class="fs-3 text-center  font-primary font-regular">DOYOGA 可以帶給你...</p>
                <ul class="home-plan-list">
                    <li class="home-plan">
                        <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20white%20tank%20top%20and%20white%20leggings%20bending%20her%20body.jpg"
                            alt="Plan Picture">
                        <div>
                            <h2 class="fs-3 font-secondary text-center mb-1">首次體驗</h2>
                            <p class="fs-3 font-primary text-center mb-2">NT $450 / 次</p>
                            <p class="mb-8 mb-md-none">分基礎、中級、高級可以選擇。初次至 DOYOGA 上課建議選擇此方案。</p>
                            <a href="#" class="btn btn-secondary container-fluid">選擇課程</a>
                        </div>
                    </li>
                    <li class="home-plan">
                        <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20performing%20yoga.jpg"
                            alt="Plan Picture">
                        <div>
                            <h2 class="fs-3 font-secondary text-center mb-1">短期體驗</h2>
                            <p class="fs-3 font-primary text-center mb-2">NT $1800 / 月</p>
                            <p class="mb-8 mb-md-none">分基礎、中級、高級可以選擇。初次至 DOYOGA 上課建議選擇此方案。</p>
                            <a href="#" class="btn btn-secondary container-fluid">選擇課程</a>
                        </div>
                    </li>
                    <li class="home-plan">
                        <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/woman%20in%20blue%20leggings%20and%20black%20tank%20top%20doing%20yoga.jpg"
                            alt="Plan Picture">
                        <div>
                            <h2 class="fs-3 font-secondary text-center mb-1">長期體驗</h2>
                            <p class="fs-3 font-primary text-center mb-2">NT $5600 / 季</p>
                            <p class="mb-8 mb-md-none">分基礎、中級、高級可以選擇。初次至 DOYOGA 上課建議選擇此方案。</p>
                            <a href="#" class="btn btn-secondary container-fluid">選擇課程</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- 方案選擇結束 -->
            <!-- 顧客推薦開始 -->
            <div class="bg-light py-5">
                <div class="container overflowx-scroll d-sm-flex flex-sm-column align-items-sm-center">
                    <h2 class="fs-5 font-secondary text-center mb-7">聽聽他們怎麼說</h2>
                    <ul class="home-feedback-list">
                        <li v-for="feedback in feedbackList" class="home-feedback">
                            <img :src="feedback.imgUrl" alt="User picture">
                            <div class="ms-4">
                                <p class="fs-1 font-secondary">{{`${feedback.name} ${feedback.date}`}}</p>
                                <p class="font-primary"><i class="fas fa-star"></i><i class="ms-1 fas fa-star"></i><i
                                        class="ms-1 fas fa-star"></i><i class="ms-1 fas fa-star"></i><i
                                        class="ms-1 fas fa-star"></i></p>
                                <p class="font-secondary">{{feedback.comment}}</p>
                            </div>
                        </li>
                    </ul>
                    <div class="home-feedback-mobile">
                        <ul class="home-feedback-list-mobile">
                            <li v-for="pageItem in homeFeedbackPageList" class="home-feedback">
                                <img :src="pageItem.imgUrl" alt="User picture">
                                <div class="ms-4">
                                    <p class="fs-1 font-secondary">{{`${pageItem.name} ${pageItem.date}`}}</p>
                                    <p class="font-primary"><i class="fas fa-star"></i><i
                                            class="ms-1 fas fa-star"></i><i class="ms-1  fas fa-star"></i><i
                                            class="ms-1 fas fa-star"></i><i class="ms-1 fas fa-star"></i></p>
                                    <p class="font-secondary">{{pageItem.comment}}</p>
                                </div>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-end" v-if="!homeFeedbackPageStatus">
                            <a @click.prevent="showNextFeedbackPage" href="" class="link-secondary"><i
                                    class="fs-5 fas fa-arrow-right"></i></a>
                        </div>
                        <div class="d-flex justify-content-start" v-if="homeFeedbackPageStatus">
                            <a @click.prevent="showPreFeedbackPage" href="" class="link-secondary"><i
                                    class="fs-5 fas fa-arrow-left"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <!-- 顧客推薦結束 -->
        </div>
        <!-- 首頁結束 -->



        <!-- 課程介紹開始 -->
        <div v-if="courseIntroPageStatus">
            <div class="container py-8 py-sm-6">
                <h1 class="fs-5 font-secondary text-center mb-7">課程介紹</h1>
                <div class="d-flex justify-content-center flex-sm-column flex-sm-wrap align-items-sm-center">
                    <img class="course-intro-banner"
                        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1540206276207-3af25c08abc4.jpeg"
                        alt="Course intro picture">
                    <div class="col-4 ms-6 ms-sm-none">
                        <h2 class="fs-5 font-secondary font-medium">本月限定課程 - 空中瑜珈</h2>
                        <p class="font-primary mb-3">授課老師：Carol Tang<span class="course-intro-time-hint">60min</span>
                        </p>
                        <p class="font-secondary mb-5">使用掛布懸掛在半空，進行哈達瑜珈體位法練習<br>
                            藉由地心引力的重力原理<br>
                            鍛鍊核心肌群，舒緩脊椎壓力<br>
                            訓練身體協調性，深層放鬆身體<br>
                            課堂裡老師會視同學狀況安排教導倒立動作<br>
                            對於不敢嘗試倒立的同學來說<br>
                            藉由掛布的支持與保護 加上老師細心指導，讓同學能更快掌握</p>
                        <a href="#" class="btn btn-primary">立即預約</a>
                    </div>
                </div>
            </div>
            <!-- 搜尋欄位開始 -->
            <div class="bg-primary">
                <div class="container d-flex py-4">
                    <div class="course-search">
                        <input type="text" placeholder="請輸入要搜尋的課程">
                        <a href="#">搜尋</a>
                    </div>
                    <select class="course-filter ms-2">
                        <option value="" selected>全部課程</option>
                    </select>
                </div>
            </div>
            <!-- 搜尋欄位結束 -->
            <!-- 課程須知開始 -->
            <div class="border-bottom-primary">
                <div class="container d-flex py-7 flex-md-wrap justify-content-md-center">
                    <ul class="course-card-list col-8 col-md-7 ">
                        <li>
                            <a @click.prevent="showModal" href="#" class="course-card course-card-1">
                                <span>60min</span>
                                <h2>基礎 Basic</h2>
                                <p>授課老師：Carol Tang</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="course-card course-card-2">
                                <span>60min</span>
                                <h2>艾揚格 Iyengar</h2>
                                <p>授課老師：Kanae</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="course-card course-card-3">
                                <span>60min</span>
                                <h2>哈達 Hatha</h2>
                                <p>授課老師：Kuzuha</p>
                            </a>

                        </li>
                        <li>
                            <a href="#" class="course-card course-card-4">
                                <span>60min</span>
                                <h2>寰宇 Universal</h2>
                                <p>授課老師：Kuzuha</p>
                            </a>

                        </li>
                        <li>
                            <a href="#" class="course-card course-card-5">
                                <span>60min</span>
                                <h2>雙人飛行 Arco Yoga</h2>
                                <p>授課老師：Kuzuha、Kanae</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="course-card course-card-6">
                                <span>60min</span>
                                <h2>阿斯坦加 Ashtanga</h2>
                                <p>授課老師：Kanae</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="course-card course-card-7">
                                <span>60min</span>
                                <h2>陰陽 Yin Yang</h2>
                                <p>授課老師：Asa Chen</p>
                            </a>

                        </li>
                        <li>
                            <a href="#" class="course-card course-card-8">
                                <span>60min</span>
                                <h2>香氛 Aroma Yoga</h2>
                                <p>授課老師：Kanae</p>
                            </a>
                        </li>

                    </ul>
                    <div class="col-3 ms-6 ms-md-none  font-secondary">
                        <h2 class="fs-3">DOYOGA 上課須知：</h2>
                        <p>請攜帶適當的瑜珈墊和一條長毛巾配合課程使用。</p>
                        <p>運動中請穿著有彈性、吸汗、透氣為原則的衣物，盡量穿著較貼身的運動衣，以便教練指導與自我矯正。</p>
                        <p>運動中切記補充適當的水分、保持腹式呼吸，以鼻吸氣，以口呼氣為原則。</p>
                        <p>運動中請保持微收小腹的原則，肩膀放鬆、頭頂向上延伸，請跟隨教練指示，配合呼吸一步步的確實練習。</p>
                        <p>運動過程中若感到任何不適，請馬上停止且與老師商量討論。 若懷孕或特殊疾病請先告知。</p>
                    </div>
                </div>
                <!-- 課程須知結束 -->
            </div>
            <!-- 師資介紹開始 -->
            <div class="container py-5 overflowx-scroll">
                <h2 class="font-secondary text-center fs-5 mb-7">師資介紹</h2>
                <ul class="d-flex py-4 flex-sm-wrap justify-content-sm-center">
                    <li class="course-instructor-card me-6 me-sm-none my-sm-7">
                        <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/teacher-1.png"
                            alt="teacher selfie">
                        <h3 class="text-center mb-1">Carol Tang 老師</h3>
                        <p class="text-center mb-3">教學經歷 10 年</p>
                        <p class="font-light mb-3">“因為瑜珈讓我重新認識自己的身體，也讓我有了不一樣的人生。 我希望能跟學生們分享瑜珈的好，讓大 家能藉由瑜珈看見自己的內在與潛能，
                            並將瑜珈自然的融入自己的生活中。”</p>
                        <ul>
                            <li>・協會認證艾揚格瑜珈老師</li>
                            <li>・2010 年完成四年的艾揚格師資培訓</li>
                            <li>・2020 取得艾揚格瑜珈高階認證</li>
                        </ul>
                    </li>
                    <li class="course-instructor-card me-6 me-sm-none  my-sm-7">
                        <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/teacher-2.png"
                            alt="teacher selfie">
                        <h3 class="text-center mb-1">Kanae 老師</h3>
                        <p class="text-center mb-3">教學經歷 3 年</p>
                        <p class="font-light mb-3">
                            “希望每個人透過觀察，感受在在進入動作，連接陰與陽，內和外，呼和吸的方式來更了解瑜珈練習的觀點，每個​動作都帶著呼吸和順位，在平衡心理和生理的狀況下以安全和簡化的技巧進入瑜珈姿勢，帶著放鬆的心情，享受瑜珈和生命的喜悅，並樂在其​中。”
                        </p>

                        <ul>
                            <li>・美國瑜珈聯盟 RYT200 小時師資認證</li>
                            <li>・自然呼吸瑜珈會館開授倒立研習</li>
                            <li>・簡善琳瑜珈會館開授倒立研習</li>
                        </ul>
                    </li>
                    <li class="course-instructor-card me-6 me-sm-none my-sm-7">
                        <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/teacher-3.png"
                            alt="teacher selfie">
                        <h3 class="text-center mb-1">Kuzuha 老師</h3>
                        <p class="text-center mb-3">教學經歷 3 年</p>
                        <p class="font-light mb-3">“瑜珈是一種生活態度， 學習平衡不強求，堅持不放棄， 修煉心靈活在當下。”</p>
                        <ul>
                            <li>・美國瑜珈聯盟 RYT200 小時師資認證</li>
                            <li>・自然呼吸瑜珈會館開授倒立研習</li>
                            <li>・簡善琳瑜珈會館開授倒立研習</li>
                        </ul>
                    </li>
                    <li class="course-instructor-card me-6 me-sm-none my-sm-7">
                        <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/teacher-4.png"
                            alt="teacher selfie">
                        <h3 class="text-center mb-1">Asa Ifrit 老師</h3>
                        <p class="text-center mb-3">教學經歷 5 年</p>
                        <p class="font-light mb-3">“帶著懵懂和好奇開始了瑜珈的探索。 追隨印度瑜珈大師 Atui Shri 學習呼吸控制和冥想以及完成瑜珈大師宋光明師資培訓。”</p>
                        <ul>
                            <li>・美國瑜珈聯盟 RYT200 小時師資認證</li>
                            <li>・AshtangsTTC50小時認證</li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- 師資介紹結束 -->
            <!-- modal 開始 -->
            <div class="course-modal-bg-dark" v-if="modalStatus"></div>
            <div class="course-modal" v-if="modalStatus">
                <div class="d-flex justify-content-end">
                    <a @click.prevent="exitModal" href="#" class="link-white "><i class="fas fa-times"></i></a></i>
                </div>
                <div class="d-flex justify-content-center flex-sm-column flex-sm-wrap align-items-sm-center">
                    <img class="course-modal-banner"
                        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/photo-1540206276207-3af25c08abc4.jpeg"
                        alt="Course intro picture">
                    <div class=" ms-6 ms-sm-none">
                        <h2 class="fs-5 font-white font-medium">基礎 Basic</h2>
                        <p class="font-white fs-2 mb-3">授課老師：Carol Tang<span class="course-intro-time-hint">60min</span>
                        </p>
                        <p class="font-white mb-5">使用掛布懸掛在半空，進行哈達瑜珈體位法練習<br>
                            藉由地心引力的重力原理<br>
                            鍛鍊核心肌群，舒緩脊椎壓力<br>
                            訓練身體協調性，深層放鬆身體<br>
                            課堂裡老師會視同學狀況安排教導倒立動作<br>
                            對於不敢嘗試倒立的同學來說<br>
                            藉由掛布的支持與保護 加上老師細心指導，讓同學能更快掌握</p>
                        <a href="#" class="btn btn-light">立即預約</a>
                    </div>
                </div>
            </div>
            <!-- modal 結束 -->
        </div>
        <!-- 課程介紹結束 -->
        <!-- 瑜伽空間開始 -->
        <div v-if="spacePageStatus">
            <!-- 課程須知開始 -->
            <div class="border-bottom-primary">
                <div class="container d-flex py-7 flex-md-wrap justify-content-md-center">
                    <ul class="space-card-list col-8 ">
                        <li>
                            <a @click.prevent="showModal" href="#" class="space-card space-card-1">
                                <h2>A、B 團體課教室</h2>
                                <p>教授課程：A-基礎、艾揚格、哈達、寰宇；B-雙人飛行、阿斯坦加、陰陽、香氛</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="space-card space-card-2">
                                <span>60min</span>
                                <h2>艾揚格 Iyengar</h2>
                                <p>授課老師：Kanae</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="space-card space-card-3">
                                <span>60min</span>
                                <h2>哈達 Hatha</h2>
                                <p>授課老師：Kuzuha</p>
                            </a>

                        </li>
                        <li>
                            <a href="#" class="space-card space-card-4">
                                <span>60min</span>
                                <h2>寰宇 Universal</h2>
                                <p>授課老師：Kuzuha</p>
                            </a>

                        </li>
                        <li>
                            <a href="#" class="space-card space-card-5">
                                <span>60min</span>
                                <h2>雙人飛行 Arco Yoga</h2>
                                <p>授課老師：Kuzuha、Kanae</p>
                            </a>
                        </li>

                    </ul>
                    <div class="col-4 ms-6 ms-md-none p-4 font-secondary border-radius-round bg-light h-max">
                        <h2 class="fs-3 mb-3">DOYOGA 提供：</h2>
                        <p>四間教室：A、B 團體課教室、C、D 個人訓練室。</p>
                        <p>瑜珈墊、輔具：每次課後會進行殺菌清潔，乾淨免擔心。</p>
                        <p>男女置物櫃、淋浴間：分別設置在館內 A、B 區。</p>
                        <p class="mb-3">舒適交誼廳，咖啡茶水無限供應，假日提供午間蔬食餐點。</p>
                        <a href="#" class="link-secondary">立即預約 <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
                <!-- 瑜伽空間結束 -->

            </div>
            <!-- 瑜伽空間結束 -->
        </div>
            <!-- footer開始 -->

            <footer class="bg-secondary">
                <div class="border-bottom-white py-4">
                    <div
                        class="container d-flex justify-content-between align-items-center flex-md-column align-items-md-start mb-md-2">
                        <h2 class="fs-5 font-white">現在訂閱，獲得課程優惠碼！</h2>
                        <div class="home-footer-email">
                            <input type="text" placeholder="輸入您的電子信箱">
                            <a href="#">訂閱</a>
                        </div>
                    </div>
                </div>
                <div class="container home-footer-moreInfo-pc py-4">
                    <div>
                        <a href="#" @click.prevent="showHomePage"><img
                                src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/DOYOGA.png"
                                alt="Logo"></a>
                        <ul>
                            <li class="mt-2"><a @click.prevent="showCourseIntroPage" href="#"
                                    class="link-white  font-light">課程介紹</a></li>
                            <li class="mt-2"><a href="#" class="link-white  font-light">瑜珈空間</a></li>
                            <li class="mt-2"><a href="#" class="link-white  font-light">當月課表</a></li>
                        </ul>
                    </div>
                    <p class="font-white align-self-end">
                        © 2021. All Rights Reserved.
                    </p>
                    <ul class="d-flex">
                        <li><a href="#" class="link-white"><i class="fab fa-facebook fs-4 "></i></a></li>
                        <li><a href="#" class="link-white"><i class="fab fa-instagram fs-4  ms-2"></i></a></li>
                        <li><a href="#" class="link-white"><i class="fab fa-line fs-4 ms-2"></i></a></li>
                    </ul>
                </div>
                <div class="container home-footer-moreInfo-mobile  py-4">
                    <div>
                        <a href="#" @click.prevent="showHomePage"><img
                                src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/yoga-week8/DOYOGA.png"
                                alt="Logo"></a>
                        <ul>
                            <li class="mt-2"><a @click.prevent="showCourseIntroPage" href="#"
                                    class="link-white  font-light">課程介紹</a></li>
                            <li class="mt-2"><a @click.prevent="showSpacePage" href="#"
                                    class="link-white  font-light">瑜珈空間</a></li>
                            <li class="mt-2"><a href="#" class="link-white  font-light">當月課表</a></li>
                        </ul>
                        <p class="font-white mt-2">
                            © 2021. All Rights Reserved.
                        </p>
                    </div>
                    <ul class="d-flex">
                        <li><a href="#" class="link-white"><i class="fab fa-facebook fs-4 "></i></a></li>
                        <li><a href="#" class="link-white"><i class="fab fa-instagram fs-4  ms-2"></i></a></li>
                        <li><a href="#" class="link-white"><i class="fab fa-line fs-4 ms-2"></i></a></li>
                    </ul>
                </div>

            </footer>
            <!-- footer結束 -->

        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="all.js"></script>
</body>

</html>